<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/miethub">
            <img src="assets/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            MIET Hub
        </a>
        <a href="whatsapp://send?text=https://tejus3131.github.io/miethub/" data-action="share/whatsapp/share" style="background-color: white;padding: 12px;border-radius:25px;font-size: 15px;" class="navbar-brand bg-light text-dark">
            Share on Whatsapp
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15" height="15">
                <path
                    d="M1.513 1.96a1.374 1.374 0 0 1 1.499-.21l19.335 9.215a1.147 1.147 0 0 1 0 2.07L3.012 22.25a1.374 1.374 0 0 1-1.947-1.46L2.49 12 1.065 3.21a1.375 1.375 0 0 1 .448-1.25Zm2.375 10.79-1.304 8.042L21.031 12 2.584 3.208l1.304 8.042h7.362a.75.75 0 0 1 0 1.5Z">
                </path>
            </svg>
        </a>
    </div>
</nav>